openapi: 3.1.0
info:
  title: teremoqwow API
  version: 0.1.0
  description: |
    API pública de teremoqwow expuesta por KrakenD.
    Stub inicial de Fase 0. El modelado completo se realiza en la issue #55.
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://api.teremoqwow.dev
    description: Producción
  - url: https://api.staging.teremoqwow.dev
    description: Staging
paths:
  /healthz:
    get:
      summary: Liveness probe
      operationId: healthz
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok]
  /drm/license:
    post:
      summary: Solicitar licencia DRM (proxy EZDRM)
      operationId: requestDrmLicense
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: https://teremoqwow.dev/schemas/drm/v1/license-request.json
      responses:
        "200":
          description: Licencia CDM emitida
          content:
            application/json:
              schema:
                $ref: https://teremoqwow.dev/schemas/drm/v1/license-response.json
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /interactions:
    post:
      summary: Registrar interacción del espectador (voto, reacción, pregunta)
      operationId: createInteraction
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: https://teremoqwow.dev/schemas/api/v1/interaction-create.json
      responses:
        "202":
          description: Interacción aceptada
          content:
            application/json:
              schema:
                type: object
                properties:
                  interaction_id: { type: string, format: uuid }
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    BadRequest:
      description: Payload inválido
      content:
        application/json:
          schema:
            $ref: https://teremoqwow.dev/schemas/common/v1/error.json
    Unauthorized:
      description: JWT ausente o inválido
      content:
        application/json:
          schema:
            $ref: https://teremoqwow.dev/schemas/common/v1/error.json
    TooManyRequests:
      description: Rate limit superado
      content:
        application/json:
          schema:
            $ref: https://teremoqwow.dev/schemas/common/v1/error.json
  schemas:
    Error:
      $ref: https://teremoqwow.dev/schemas/common/v1/error.json
